// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2020 Rockchip Electronics Co., Ltd.
 * Copyright (c) 2025 Sergey Kharenko
 */

 /dts-v1/;

 #include <dt-bindings/gpio/gpio.h>
 #include <dt-bindings/pwm/pwm.h>
 #include <dt-bindings/pinctrl/rockchip.h>
 #include <dt-bindings/input/rk-input.h>
 #include <dt-bindings/leds/common.h>
 #include <dt-bindings/display/drm_mipi_dsi.h>
 #include <dt-bindings/display/rockchip_vop.h>
 #include <dt-bindings/sensor-dev.h>
 #include "rk3568.dtsi"
 #include "rk3568-linux.dtsi"
 
/ {
	model = "SK seewo SV21 Board";
	compatible = "sk,svo", "rockchip,rk3568";

	aliases {
		ethernet0 = &rtl8153;
		ethernet1 = &gmac1;
	};

	chosen: chosen {
		bootargs = "earlycon=uart8250,mmio32,0xfe660000 console=ttyFIQ0";
	};

	adc_keys: adc-keys {
		compatible = "adc-keys";
		io-channels = <&saradc 0>;
		io-channel-names = "buttons";
		keyup-threshold-microvolt = <1800000>;
		poll-interval = <100>;

		reset-key {
			label = "reset";
			linux,code = <KEY_RESTART>;
			press-threshold-microvolt = <1750>;
		};
	};

	dc_12v: dc-12v-regulator {
		compatible = "regulator-fixed";
		regulator-name = "dc_12v";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
	};

	dummy_codec_rk628: dummy-codec-rk628 {
		status = "okay";
		compatible = "rockchip,dummy-codec";
		#sound-dai-cells = <0>;
	};

	firmware {
		optee: optee {
			compatible = "linaro,optee-tz";
			method = "smc";
		};
	};

	gpio_leds: gpio-leds {
		status = "okay";
		compatible = "gpio-leds";

		usr_led0: usr-led0 {
			gpios = <&gpio4 RK_PC0 GPIO_ACTIVE_HIGH>;
			function = LED_FUNCTION_HEARTBEAT;
			color = <LED_COLOR_ID_ORANGE>;
			linux,default-trigger = "heartbeat";
			pinctrl-names = "default";
			pinctrl-0 = <&usr_led0_pin>;
		};

		usr_led1: usr-led1 {
			gpios = <&gpio4 RK_PC1 GPIO_ACTIVE_HIGH>;
			function = LED_FUNCTION_DISK_ACTIVITY;
			color = <LED_COLOR_ID_ORANGE>;
			linux,default-trigger = "disk-activity";
			pinctrl-names = "default";
			pinctrl-0 = <&usr_led1_pin>;
		};
	};

	hdmi_sound: hdmi-sound {
		compatible = "simple-audio-card";
		simple-audio-card,format = "i2s";
		simple-audio-card,mclk-fs = <128>;
		simple-audio-card,name = "rockchip,hdmi";
		status = "okay";

		simple-audio-card,cpu {
			sound-dai = <&i2s0_8ch>;
		};

		simple-audio-card,codec {
			sound-dai = <&hdmi>;
		};
	};

	lt8618_sound: spdif-sound {
		status = "okay";
		compatible = "simple-audio-card";
		simple-audio-card,name = "ROCKCHIP,SPDIF";

		simple-audio-card,cpu {
			sound-dai = <&spdif_8ch>;
		};

		simple-audio-card,codec {
			sound-dai = <&spdif_out>;
		};
	};

	rk628_sound: rk628-sound {
		status = "okay";
		compatible = "simple-audio-card";
		simple-audio-card,format = "i2s";
		simple-audio-card,name = "rockchip,rk628-sound";
		simple-audio-card,mclk-fs = <256>;
		simple-audio-card,bitclock-master = <&rk628_master>;
		simple-audio-card,frame-master = <&rk628_master>;

		simple-audio-card,cpu {
			sound-dai = <&i2s2_2ch>;
		};

		rk628_master: simple-audio-card,codec {
			sound-dai = <&dummy_codec_rk628>;
		};
	};

	rk809_sound: rk809-sound {
		status = "okay";
		compatible = "simple-audio-card";
		simple-audio-card,format = "i2s";
		simple-audio-card,name = "rockchip,rk809-codec";
		simple-audio-card,mclk-fs = <256>;

		simple-audio-card,cpu {
			sound-dai = <&i2s1_8ch>;
		};

		simple-audio-card,codec {
			sound-dai = <&rk809_codec>;
		};
	};

	spdif_out: spdif-out {
		status = "okay";
		compatible = "linux,spdif-dit";
		#sound-dai-cells = <0>;
	};

	vcc3v3_sys: vcc3v3-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&dc_12v>;
	};

	vcc5v0_sys: vcc5v0-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&dc_12v>;
	};

	vcc5v0_host: vcc5v0-host-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_host";
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		gpio = <&gpio0 RK_PA6 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc5v0_host_en>;
	};

	vcc5v0_otg: vcc5v0-otg-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_otg";
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		gpio = <&gpio0 RK_PA5 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc5v0_otg_en>;
	};

	vcc3v3_rtl8153: vcc3v3-rtl8153-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_rtl8153";
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		enable-active-high;
		gpio = <&gpio3 RK_PC6 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc3v3_rtl8153_en>;
	};
};

&combphy0_us {
	status = "okay";
};

&combphy1_usq {
	vbus-supply = <&vcc3v3_rtl8153>;
	status = "okay";
};

&combphy2_psq {
	status = "okay";
};

&cpu0 {
	cpu-supply = <&vdd_cpu>;
};

&crypto {
	status = "okay";
};

&csi2_dphy_hw {
	status = "okay";
};

&csi2_dphy0 {
	status = "okay";

	ports {
		#address-cells = <0x01>;
		#size-cells = <0x00>;

		port@0 {
			reg = <0x00>;
			#address-cells = <0x01>;
			#size-cells = <0x00>;

			hdmi2mipi_in: endpoint@1 {
				reg = <0x01>;
				remote-endpoint = <&rk628_out>;
				data-lanes = <1 2 3 4>;
			};
		};

		port@1 {
			reg = <0x01>;
			#address-cells = <0x01>;
			#size-cells = <0x00>;

			dphy2_out: endpoint@1 {
				reg = <0x01>;
				remote-endpoint = <&mipi_csi2_input>;
			};
		};
	};
};

&dfi {
	status = "okay";
};

&gmac1 {
	status = "okay";
	// local-mac-address = [bc 6b ff 42 31 c7];
	phy-mode = "rgmii";
	clock_in_out = "output";
	snps,reset-gpio = <&gpio2 RK_PD1 GPIO_ACTIVE_HIGH>;
	snps,reset-active-high;
	snps,reset-delays-us = <0 1000000 2000000>;
	assigned-clocks = <&cru SCLK_GMAC1_RX_TX>, <&cru SCLK_GMAC1>;
	assigned-clock-parents = <&cru SCLK_GMAC1_RGMII_SPEED>, <&cru CLK_MAC1_2TOP>;
	assigned-clock-rates = <0>, <125000000>;

	pinctrl-names = "default";
	pinctrl-0 = <&gmac1m1_miim
		     &gmac1m1_tx_bus2
		     &gmac1m1_rx_bus2
		     &gmac1m1_rgmii_clk
		     &gmac1m1_rgmii_bus>;

	tx_delay = <0x2a>;
	rx_delay = <0x2a>;

	fixed-link {
		speed = <1000>;
		full-duplex;
	};
};

&gpu {
	mali-supply = <&vdd_gpu>;
	mem-supply = <&vdd_gpu>;
	status = "okay";
};

&hdmi {
	status = "okay";
	avdd-0v9-supply = <&vdda0v9_image>;
	avdd-1v8-supply = <&vcca1v8_image>;
	cec-enable = "true";
	rockchip,phy-table = 
						<92812500  0x8009 0x00 0x0270>,
						<165000000 0x800b 0x00 0x026d>,
						<185625000 0x800b 0x00 0x01ed>,
						<297000000 0x800b 0x00 0x01ad>,
						<594000000 0x8029 0x00 0x0088>,
						<000000000 0x0000 0x00 0x0000>;
};

&hdmi_in_vp0 {
	status = "okay";
};

&i2c0 {
	status = "okay";

	vdd_cpu: syr837@40 {
		compatible = "silergy,syr827";
		reg = <0x40>;
		vin-supply = <&vcc5v0_sys>;
		regulator-name = "vdd_cpu";
		pinctrl-0 = <&soc_slppin_gpio>;
		vsel-gpios = <&gpio0 RK_PA2 GPIO_ACTIVE_HIGH>;
		regulator-min-microvolt = <712500>;
		regulator-max-microvolt = <1500000>;
		regulator-ramp-delay = <1000>;
		fcs,suspend-voltage-selector = <1>;
		regulator-always-on;
		regulator-initial-state = <3>;

		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};

	rk809: pmic@20 {
		compatible = "rockchip,rk809";
		reg = <0x20>;
		interrupt-parent = <&gpio0>;
		interrupts = <3 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default", "pmic-sleep",
				"pmic-power-off", "pmic-reset";
		pinctrl-0 = <&pmic_int>;
		pinctrl-1 = <&soc_slppin_slp>, <&rk817_slppin_slp>;
		pinctrl-2 = <&soc_slppin_gpio>, <&rk817_slppin_pwrdn>;
		pinctrl-3 = <&soc_slppin_gpio>, <&rk817_slppin_rst>;

		rockchip,system-power-controller;
		wakeup-source;
		#clock-cells = <1>;
		clock-output-names = "rk808-clkout1", "rk808-clkout2";
		pmic-reset-func = <0>;
		not-save-power-en = <1>;
		vcc1-supply = <&vcc3v3_sys>;
		vcc2-supply = <&vcc3v3_sys>;
		vcc3-supply = <&vcc3v3_sys>;
		vcc4-supply = <&vcc3v3_sys>;
		vcc5-supply = <&vcc3v3_sys>;
		vcc6-supply = <&vcc3v3_sys>;
		vcc7-supply = <&vcc3v3_sys>;
		vcc8-supply = <&vcc3v3_sys>;
		vcc9-supply = <&vcc3v3_sys>;

		pwrkey {
			status = "okay";
		};

		pinctrl_rk8xx: pinctrl_rk8xx {
			gpio-controller;
			#gpio-cells = <2>;

			rk817_slppin_null: rk817_slppin_null {
				pins = "gpio_slp";
				function = "pin_fun0";
			};

			rk817_slppin_slp: rk817_slppin_slp {
				pins = "gpio_slp";
				function = "pin_fun1";
			};

			rk817_slppin_pwrdn: rk817_slppin_pwrdn {
				pins = "gpio_slp";
				function = "pin_fun2";
			};

			rk817_slppin_rst: rk817_slppin_rst {
				pins = "gpio_slp";
				function = "pin_fun3";
			};
		};

		regulators {
			vdd_logic: DCDC_REG1 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1350000>;
				regulator-init-microvolt = <900000>;
				regulator-ramp-delay = <6001>;
				regulator-initial-mode = <0x2>;
				regulator-name = "vdd_logic";

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdd_gpu: DCDC_REG2 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1350000>;
				regulator-init-microvolt = <900000>;
				regulator-ramp-delay = <6001>;
				regulator-initial-mode = <0x2>;
				regulator-name = "vdd_gpu";

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_ddr: DCDC_REG3 {
				regulator-always-on;
				regulator-boot-on;
				regulator-initial-mode = <0x2>;
				regulator-name = "vcc_ddr";

				regulator-state-mem {
					regulator-on-in-suspend;
				};
			};

			vdd_npu: DCDC_REG4 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1350000>;
				regulator-init-microvolt = <900000>;
				regulator-ramp-delay = <6001>;
				regulator-initial-mode = <0x2>;
				regulator-name = "vdd_npu";

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdda0v9_image: LDO_REG1 {
				regulator-boot-on;
				regulator-always-on;
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <900000>;
				regulator-name = "vdda0v9_image";

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdda_0v9: LDO_REG2 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <900000>;
				regulator-name = "vdda_0v9";

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdda0v9_pmu: LDO_REG3 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <900000>;
				regulator-name = "vdda0v9_pmu";

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <900000>;
				};
			};

			vccio_acodec: LDO_REG4 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3000000>;
				regulator-max-microvolt = <3000000>;
				regulator-name = "vccio_acodec";

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vccio_sd: LDO_REG5 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vccio_sd";

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc3v3_pmu: LDO_REG6 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vcc3v3_pmu";

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3300000>;
				};
			};

			vcca_1v8: LDO_REG7 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcca_1v8";

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcca1v8_pmu: LDO_REG8 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcca1v8_pmu";

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			vcca1v8_image: LDO_REG9 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcca1v8_image";

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_1v8: DCDC_REG5 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcc_1v8";

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_3v3: SWITCH_REG1 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "vcc_3v3";

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc3v3_sd: SWITCH_REG2 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "vcc3v3_sd";

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};
		};

		rk809_codec: codec {
			#sound-dai-cells = <0>;
			compatible = "rockchip,rk809-codec", "rockchip,rk817-codec";
			clocks = <&cru I2S1_MCLKOUT>;
			clock-names = "mclk";
			assigned-clocks = <&cru I2S1_MCLKOUT>, <&cru I2S1_MCLK_TX_IOE>;
			assigned-clock-rates = <12288000>;
			assigned-clock-parents = <&cru I2S1_MCLKOUT_TX>, <&cru I2S1_MCLKOUT_TX>;
			pinctrl-names = "default";
			pinctrl-0 = <&i2s1m0_mclk>;
			hp-volume = <20>;
			spk-volume = <7>;
			dac-volume = <20>;
			mic-in-differential;
			status = "okay";
		};
	};
};

&i2c1 {
	status = "okay";
	clock-frequency = <400000>;

	rk628: rk628@50 {
		compatible = "rockchip,rk628-csi-v4l2";
		reg = <0x50>;
		pinctrl-names = "default";
		pinctrl-0 = <&rk628_gpio>;
		interrupt-parent = <&gpio2>;
		interrupts = <9 IRQ_TYPE_LEVEL_HIGH>;
		enable-gpios = <&gpio1 RK_PD7 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio2 RK_PC2 GPIO_ACTIVE_HIGH>;
		plugin-det-gpios = <&gpio2 RK_PB2 GPIO_ACTIVE_HIGH>;

		scaler-en = <1>;
		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "RK628-CSI";
		rockchip,camera-module-lens-name = "NC";
		status = "okay";

		port {
			rk628_out: endpoint {
				remote-endpoint = <&hdmi2mipi_in>;
				data-lanes = <1 2 3 4>;
			};
		};
	};
	
	// lt8618: lt8618@39 {
	// 	compatible = "lontium,lt8618";
	// 	reg = <0x39>;
	// 	pinctrl-names = "default";
	// 	pinctrl-0 = <&lt8618_gpio>;
	// 	interrupt-parent = <&gpio2>;
	// 	interrupts = <7 IRQ_TYPE_LEVEL_HIGH>;
	// 	reset-gpios = <&gpio2 RK_PB0 GPIO_ACTIVE_HIGH>;
	// 	// #enable-gpio = <&gpio0 RK_PC1 GPIO_ACTIVE_HIGH>;

	// 	ports {
	// 		#address-cells = <0x01>;
	// 		#size-cells = <0x00>;

	// 		port@0 {
	// 			reg = <0x00>;

	// 			lt8618_in_rgb: endpoint {
	// 				remote-endpoint = <&rgb_out_lt8618>;
	// 			};
	// 		};
	// 	};
	// };
};

&i2c4 {
	status = "okay";
};

&i2c5 {
	status = "okay";
};

&i2s0_8ch {
	status = "okay";
};

&i2s1_8ch {
	status = "okay";
	rockchip,clk-trcm = <1>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2s1m0_sclktx &i2s1m0_lrcktx &i2s1m0_lrckrx &i2s1m0_sdi0 &i2s1m0_sdo0>;
};

&i2s2_2ch {
	status = "okay";
	rockchip,capture-only;
	pinctrl-names = "default";
	pinctrl-0 = <&i2s2m0_sclkrx &i2s2m0_lrckrx &i2s2m0_sdi>;
};

&iep {
	status = "okay";
};

&iep_mmu {
	status = "okay";
};

&jpegd {
	status = "okay";
};

&jpegd_mmu {
	status = "okay";
};

&mdio1 {
	suppress-preamble;
	status = "okay";
	switch: switch@0 {
		compatible = "maxlinear,gsw140";
		reg = <0>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;
			
			rx_mii_delay = /bits/ 8 <0x2a>;
			tx_mii_delay = /bits/ 8 <0x2a>;

			port0: port@0 {
				reg = <0>;
				compatible = "lantiq,phy11g", "ethernet-phy-ieee802.3-c22";
				label = "lan1";
				phy-handle = <&switchphy0>;
				phy-mode = "internal";
				status = "okay";
			};

			port1: port@1 {
				reg = <1>;
				compatible = "lantiq,phy11g", "ethernet-phy-ieee802.3-c22";
				label = "lan2";
				phy-handle = <&switchphy1>;
				phy-mode = "internal";
				status = "okay";
			};

			port2: port@2 {
				reg = <2>;
				label = "port2";
				phy-handle = <&switchphy2>;
				status = "disabled";
			};

			port3: port@3 {
				reg = <3>;
				label = "port3";
				phy-handle = <&switchphy3>;
				status = "disabled";
			};

			port4: port@4 {
				reg = <4>;
				label = "port4";
				phy-mode = "sgmii";
				phy-handle = <&switchphy4>;
				status = "disabled";
			};

			port5: port@5 {
				reg = <5>;
				label = "cpu";
				phy-mode = "rgmii";
				ethernet = <&gmac1>;
				fixed-link {
					speed = <1000>;
					full-duplex;
				};
			};

			port6: port@6 {
				reg = <6>;
				label = "port6";
				status = "disabled";
			};
		};

		mdio {
			#address-cells = <1>;
			#size-cells = <0>;

			switchphy0: switchphy@0 {
				reg = <0>;
			};

			switchphy1: switchphy@1 {
				reg = <1>;
			};

			switchphy2: switchphy@2 {
				reg = <2>;
			};

			switchphy3: switchphy@3 {
				reg = <3>;
			};

			switchphy4: switchphy@4 {
				reg = <4>;
			};
		};
	};
};

&mipi_csi2 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi_csi2_input: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&dphy2_out>;
				data-lanes = <1 2 3 4>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi_csi2_output: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&cif_mipi_in>;
				data-lanes = <1 2 3 4>;
			};
		};
	};
};

&mpp_srv {
	status = "okay";
};

&pinctrl {
	leds {
		usr_led0_pin: usr-led0-pin {
			rockchip,pins = <4 RK_PC0 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		usr_led1_pin: usr-led1-pin {
			rockchip,pins = <4 RK_PC1 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	lt8618 {
		lt8618_gpio: lt8618-gpio {
			rockchip,pins = <2 RK_PA7 RK_FUNC_GPIO &pcfg_pull_up>,
							<2 RK_PB0 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	pmic {
		pmic_int: pmic_int {
			rockchip,pins = <0 RK_PA3 RK_FUNC_GPIO &pcfg_pull_up>;
		};

		soc_slppin_gpio: soc_slppin_gpio {
			rockchip,pins = <0 RK_PA2 RK_FUNC_GPIO &pcfg_output_low>;
		};

		soc_slppin_slp: soc_slppin_slp {
			rockchip,pins = <0 RK_PA2 1 &pcfg_pull_none>;
		};

		soc_slppin_rst: soc_slppin_rst {
			rockchip,pins = <0 RK_PA2 2 &pcfg_pull_none>;
		};
	};

	rk628 {
		rk628_gpio: rk628-gpio {
			rockchip,pins = <2 RK_PB1 RK_FUNC_GPIO &pcfg_pull_up>,
							<1 RK_PD7 RK_FUNC_GPIO &pcfg_pull_up>,
							<2 RK_PC2 RK_FUNC_GPIO &pcfg_pull_none>,
							<2 RK_PB2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	usb {
		vcc5v0_host_en: vcc5v0-host-en {
			rockchip,pins = <0 RK_PA6 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		vcc5v0_otg_en: vcc5v0-otg-en {
			rockchip,pins = <0 RK_PA5 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		vcc3v3_rtl8153_en: vcc3v3-rtl8153-en {
			rockchip,pins = <3 RK_PC6 RK_FUNC_GPIO &pcfg_pull_down>;
		};
	};
};

&pmu_io_domains {
	pmuio1-supply = <&vcc3v3_pmu>;
	pmuio2-supply = <&vcc3v3_pmu>;
	vccio1-supply = <&vccio_acodec>;
	vccio2-supply = <&vcc_1v8>;
	vccio3-supply = <&vccio_sd>;
	vccio4-supply = <&vcc_3v3>;
	vccio5-supply = <&vcc_3v3>;
	vccio6-supply = <&vcc_3v3>;
	vccio7-supply = <&vcc_3v3>;
	status = "okay";
};

&pwm7 {
	// status = "okay";

};

&reserved_memory {
	linux,cma {
		compatible = "shared-dma-pool";
		inactive;
		reusable;
		reg = <0x00 0x10000000 0x00 0x800000>;
		linux,cma-default;
	};
};

// &rgb {
// 	status = "okay";
// 	pinctrl-names = "default";
// 	pinctrl-0 = <&bt1120_pins>;

// 	ports {
// 		port@1 {
// 			reg = <1>;
// 			#address-cells = <1>;
// 			#size-cells = <0>;

// 			rgb_out_lt8618: endpoint@0 {
// 				reg = <0>;
// 				remote-endpoint = <&lt8618_in_rgb>;
// 			};
// 		};
// 	};
// };

&rkcif {
	status = "okay";
};

&rkcif_mmu {
	status = "okay";
};

&rkcif_mipi_lvds {
	status = "okay";

	port {
		cif_mipi_in: endpoint {
			remote-endpoint = <&mipi_csi2_output>;
			data-lanes = <1 2 3 4>;
		};
	};
};

&rgb_in_vp2 {
	status = "okay";
};

&rknpu {
	rknpu-supply = <&vdd_npu>;
	mem-supply = <&vdd_npu>;
	status = "okay";
};

&rknpu_mmu {
	status = "okay";
};

&rk_rga {
	status = "okay";
};

&rkvdec {
	vdec-supply = <&vdd_logic>;
	status = "okay";
};

&rkvdec_mmu {
	status = "okay";
};

&rkvenc {
	venc-supply = <&vdd_logic>;
	status = "okay";
};

&rkvenc_mmu {
	status = "okay";
};

&rng {
	status = "okay";
};

&route_hdmi {
	connect = <&vp0_out_hdmi>;
	status = "okay";
};

&route_rgb {
	connect = <&vp2_out_rgb>;
	status = "okay";
};

&saradc {
	status = "okay";
	vref-supply = <&vcca_1v8>;
};

&sata2 {
	status = "okay";
};

&sdhci {
	status = "okay";
	bus-width = <8>;
	supports-emmc;
	non-removable;
	vmmc-supply = <&vcc3v3_sd>;
	vqmmc-supply = <&vccio_sd>;
	max-frequency = <200000000>;
};

// &sfc {
// 	status = "okay";
// };

&spdif_8ch {
	pinctrl-names = "default";
	pinctrl-0 = <&spdifm1_tx>;
	status = "okay";
};

&tsadc {
	status = "okay";
};

// &uart0 {
// 	status = "okay";
// };

// &uart1 {
// 	status = "okay";
// };

// &uart3 {
// 	pinctrl-names = "default";
// 	pinctrl-0 = <&uart3m1_xfer>;
// 	status = "okay";
// };

// &uart5 {
// 	status = "okay";
// };

&uart6 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart6m1_xfer>;
	// status = "okay";
};

&usb2phy0 {
	status = "okay";
};

&u2phy0_host {
	phy-supply = <&vcc3v3_rtl8153>;
	status = "okay";
};

&u2phy0_otg {
	phy-supply = <&vcc5v0_otg>;
	vbus-supply = <&vcc5v0_otg>;
	status = "okay";
};

&usb2phy1 {
	status = "okay";
};

&u2phy1_host {
	phy-supply = <&vcc5v0_host>;
	status = "okay";
};

&u2phy1_otg {
	phy-supply = <&vcc5v0_host>;
	vbus-supply = <&vcc5v0_host>;
	status = "okay";
};

&usbdrd30 {
	status = "okay";
};

&usbdrd_dwc3 {
	snps,xhci-trb-ent-quirk;
	dr_mode = "host";
	extcon = <&usb2phy0>;
	status = "okay";
};

&usbhost30 {
	status = "okay";
};

&usbhost_dwc3 {
	status = "okay";

	rtl8153: rtl8153 {
		compatible = "usbbda,8153";
		non-removable;
		realtek,led-data = <0x87>;
	};
};

&usb_host0_ehci {
	status = "okay";
};

&usb_host0_ohci {
	status = "okay";
};

&usb_host1_ehci {
	status = "okay";
};

&usb_host1_ohci {
	status = "okay";
};

&vdpu {
	status = "okay";
};

&vdpu_mmu {
	status = "okay";
};

&vepu {
	status = "okay";
};

&vepu_mmu {
	status = "okay";
};

&vop {
	status = "okay";
	vop-supply = <&vdd_logic>;
	assigned-clocks = <&cru DCLK_VOP0>, <&cru DCLK_VOP1>, <&cru DCLK_VOP2>;
	assigned-clock-parents = <&pmucru PLL_HPLL>, <&cru PLL_VPLL>, <&cru PLL_GPLL>;
	support-multi-area;
};

&vop_mmu {
	status = "okay";
};
