// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
* Copyright (c) 2025 Sergey Kharenko
* Copyright (c) 2021 Rockchip Electronics Co., Ltd.
*/

/dts-v1/;

#include "rk3562.dtsi"
#include "rk3562-linux.dtsi"
#include "rk3562-rk809.dtsi"

/ {
	model = "SK Experiment Platform 0";
	compatible = "sk,epf0", "rockchip,rk3562";

	adc_keys: adc-keys {
		compatible = "adc-keys";
		io-channels = <&saradc0 1>;
		io-channel-names = "buttons";
		keyup-threshold-microvolt = <1800000>;
		poll-interval = <100>;

		vol-up-key {
			linux,code = <KEY_VOLUMEUP>;
			label = "volume up";
			press-threshold-microvolt = <17000>;
		};

		vol-down-key {
			linux,code = <KEY_VOLUMEDOWN>;
			label = "volume down";
			press-threshold-microvolt = <414000>;
		};

		menu-key {
			linux,code = <KEY_MENU>;
			label = "menu";
			press-threshold-microvolt = <800000>;
		};

		back-key {
			linux,code = <KEY_BACK>;
			label = "back";
			press-threshold-microvolt = <1200000>;
		};
	};

	dc_12v: dc-12v {
		compatible = "regulator-fixed";
		regulator-name = "dc_12v";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
	};

	fan: pwm-fan {
  		compatible = "pwm-fan";
  		#cooling-cells = <2>;
  		pwms = <&pwm13 0 50000 0>;
  		cooling-levels = <0 50 100 150 200 255>;
  		rockchip,temp-trips = < 50000 1
                                55000 2
                                60000 3
                                65000 4
                                70000 5>;
    };

 	gpio_leds: gpio-leds {
		compatible = "gpio-leds";
  	  	sys_led: sys-led {
   	   		gpios = <&gpio0 RK_PC5 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "heartbeat";
       		pinctrl-names = "default";
       		pinctrl-0 = <&sys_led_pin>;
  		};
	};

	rk809_sound: rk809-sound {
		compatible = "rockchip,multicodecs-card";
		rockchip,card-name = "rockchip-rk809";
		hp-det-gpio = <&gpio3 RK_PC1 GPIO_ACTIVE_LOW>;
		spk-con-gpio = <&gpio4 RK_PB1 GPIO_ACTIVE_LOW>;
		rockchip,format = "i2s";
		rockchip,mclk-fs = <256>;
		rockchip,cpu = <&sai0>;
		rockchip,codec = <&rk809_codec>;
		pinctrl-names = "default";
		pinctrl-0 = <&hp_det &spk_con>;
	};

	sdio_pwrseq: sdio-pwrseq {
		compatible = "mmc-pwrseq-simple";
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_poweren_gpio>;
        reset-gpios = <&gpio0 RK_PB3 GPIO_ACTIVE_LOW>;
		post-power-on-delay-ms = <200>;
	};

	spdif_out: spdif-out {
		compatible = "linux,spdif-dit";
		#sound-dai-cells = <0>;
	};

	spdif_sound: spdif-sound {
		compatible = "simple-audio-card";
		simple-audio-card,name = "rk-spdif-sound";
		simple-audio-card,mclk-fs = <128>;
		simple-audio-card,cpu {
			sound-dai = <&spdif_8ch>;
		};
		simple-audio-card,codec {
			sound-dai = <&spdif_out>;
		};
	};

	vcc3v3_pcie20: vcc3v3-pcie20 {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_pcie20";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		enable-active-high;
		regulator-always-on;
        regulator-boot-on;
		gpios = <&gpio4 RK_PB0 GPIO_ACTIVE_HIGH>;
		startup-delay-us = <5000>;
		vin-supply = <&dc_12v>;
	};

	vcc5v0_usb: vcc5v0-usb {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_usb";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&dc_12v>;
	};

	vcc5v0_usb_otg: vcc5v0-usb-otg {         
        compatible = "regulator-fixed";
        regulator-name = "vcc5v0_usb_otg";
        regulator-min-microvolt = <5000000>;
        regulator-max-microvolt = <5000000>;
        enable-active-high;
        gpio = <&gpio0 RK_PA6 GPIO_ACTIVE_HIGH>;
        vin-supply = <&vcc5v0_usb>;
        pinctrl-names = "default";
        pinctrl-0 = <&usb_otg_pwren>;
    };  

    vcc5v0_usb_host: vcc5v0-usb-host {    
        compatible = "regulator-fixed";
        regulator-name = "vcc5v0_usb_host";
        regulator-boot-on;
        regulator-always-on;
        regulator-min-microvolt = <5000000>;
        regulator-max-microvolt = <5000000>;
        enable-active-high;
        gpio = <&gpio1 RK_PC1 GPIO_ACTIVE_HIGH>;
        vin-supply = <&vcc5v0_usb>;
        pinctrl-names = "default";
        pinctrl-0 = <&usb_host5_pwren>;
    };  
       
    vcc5v0_host12: vcc5v0-host12 {
        compatible = "regulator-fixed";
        regulator-name = "vcc5v0_host12";
        regulator-boot-on;
        regulator-always-on;
        regulator-min-microvolt = <5000000>;
        regulator-max-microvolt = <5000000>;
        enable-active-high;
        gpio = <&gpio1 RK_PC2 GPIO_ACTIVE_HIGH>;
        vin-supply = <&vcc5v0_usb>;
        pinctrl-names = "default";
        pinctrl-0 = <&usb_host12_pwren>;
    };  

    vcc5v0_host34: vcc5v0-host34 {
        compatible = "regulator-fixed";
        regulator-name = "vcc5v0_host34";
        regulator-boot-on;
        regulator-always-on;
        regulator-min-microvolt = <5000000>;
        regulator-max-microvolt = <5000000>;
        enable-active-high;
        gpio = <&gpio1 RK_PC3 GPIO_ACTIVE_HIGH>;
        vin-supply = <&vcc5v0_usb>;
        pinctrl-names = "default";
        pinctrl-0 = <&usb_host34_pwren>;
    };

    vcc3v8_4g: vcc3v8-4g {
        compatible = "regulator-fixed";
        regulator-name = "vcc3v8_4g";
        regulator-boot-on;
        regulator-always-on;
        regulator-min-microvolt = <3300000>;
        regulator-max-microvolt = <3300000>;
        enable-active-high;
        gpio = <&gpio0 RK_PA0 GPIO_ACTIVE_HIGH>;
        vin-supply = <&vcc5v0_usb>;
        pinctrl-names = "default";
        pinctrl-0 = <&usb_4g_pwren>;
    };

	vcc3v3_lcd_n: vcc3v3-lcd-n {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_lcd_n";
		regulator-boot-on;
        enable-active-high;
		pinctrl-names = "default";
		pinctrl-0 = <&lcd_pwren>;
        gpio = <&gpio0 RK_PA7 GPIO_ACTIVE_HIGH>;
		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};

	wireless_wlan: wireless-wlan {
		compatible = "wlan-platdata";
		rockchip,grf = <&sys_grf>;
		clocks = <&rk809 1>;
		clock-names = "clk_wifi";
		wifi_chip_type = "rtl8723du";
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_host_wake_irq>;
		WIFI,host_wake_irq = <&gpio0 RK_PB4 GPIO_ACTIVE_HIGH>;
	};
};

&can0 {
    assigned-clocks = <&cru CLK_CAN0>;
    assigned-clock-rates = <200000000>;
    pinctrl-names = "default";
    pinctrl-0 = <&can0m2_pins>;
    status = "okay";
};

&combphy_pu {
	status = "okay";
};

&gmac0 {
	/* Use rgmii-rxid mode to disable rx delay inside Soc */
	phy-mode = "rmii";
	clock_in_out = "output";

	snps,reset-gpio = <&gpio1 RK_PC6 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	/* Reset time is 20ms, 100ms for rtl8211f */
	snps,reset-delays-us = <0 20000 100000>;

	tx_delay = <0x42>;
	/* rx_delay = <0x3f>; */

	pinctrl-names = "default";
    pinctrl-0 = <
        &rgmiim1_miim
        &rgmiim1_tx_bus2
        &rgmiim1_rx_bus2
        &rgmiim1_clk
        &rgmiim1_rx_er
        &ethm1_pins>;
	phy-handle = <&rmii_phy>;
	status = "okay";
};

&i2c1 {
 	status = "okay";

 	hym8563: hym8563@51 {
  		compatible = "haoyu,hym8563";
  		reg = <0x51>;
  		#clock-cells = <0>;
  		clock-frequency = <32768>;
  		clock-output-names = "hym8563";
  		wakeup-source;
 	};
};

touch_i2c: &i2c2 {
	status = "disabled";
};

&i2c5 {
	status = "disabled";

	mpu6500_acc: mpu_acc@68 {
		compatible = "mpu6500_acc";
		reg = <0x68>;
		irq-gpio = <&gpio1 RK_PC7 IRQ_TYPE_EDGE_RISING>;
		irq_enable = <0>;
		poll_delay_ms = <30>;
		type = <SENSOR_TYPE_ACCEL>;
		layout = <3>;
	};

	mpu6500_gyro: mpu_gyro@68 {
		compatible = "mpu6500_gyro";
		reg = <0x68>;
		poll_delay_ms = <30>;
		type = <SENSOR_TYPE_GYROSCOPE>;
		layout = <3>;
	};
};

&mdio0 {
	rmii_phy: phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x1>;
		clocks = <&cru CLK_GMAC_ETH_OUT2IO>;
		assigned-clocks = <&cru CLK_GMAC_ETH_OUT2IO>;
		assigned-clock-rates = <25000000>;
	};
};

&pcie2x1 {
	reset-gpios = <&gpio3 RK_PB0 GPIO_ACTIVE_HIGH>;
	vpcie3v3-supply = <&vcc3v3_pcie20>;
	status = "okay";
};

&pinctrl {
	headphone {
		hp_det: hp-det {
			rockchip,pins = <3 RK_PC1 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	lcd {
		/omit-if-no-ref/
		lcd_rst: lcd-rst {
			rockchip,pins = <0 RK_PB0 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		lcd_pwren: lcd-pwren {
			rockchip,pins = <0 RK_PA7 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	led {
        sys_led_pin: sys-led-pin {
            rockchip,pins = <0 RK_PC5 RK_FUNC_GPIO &pcfg_pull_up>;
        };  
    }; 

	speaker {
		spk_con: spk-con{
			rockchip,pins = <4 RK_PB1 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	touch {
        /omit-if-no-ref/
		touch_gpio: touch-gpio {
			rockchip,pins =
				<0 RK_PC2 RK_FUNC_GPIO &pcfg_pull_up>,
				<0 RK_PC3 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	usb {
		usb_host5_pwren: usb-host5-pwren {
			rockchip,pins = <1 RK_PC1 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		usb_otg_pwren: usb-otg-pwren {
			rockchip,pins = <0 RK_PA6 RK_FUNC_GPIO &pcfg_pull_none>;
		};
		
        usb_host12_pwren: usb-host12-pwren {
            rockchip,pins = <1 RK_PC2 RK_FUNC_GPIO &pcfg_pull_none>;
        };

        usb_host34_pwren: usb-host34-pwren {
            rockchip,pins = <1 RK_PC3 RK_FUNC_GPIO &pcfg_pull_none>;
        };

        usb_4g_pwren: usb-4g-pwren {
            rockchip,pins = <0 RK_PA0 RK_FUNC_GPIO &pcfg_pull_none>;
        };
	};

	wireless-wlan {
		wifi_host_wake_irq: wifi-host-wake-irq {
			rockchip,pins = <0 RK_PB4 RK_FUNC_GPIO &pcfg_pull_down>;
		};

        wifi_poweren_gpio: wifi-poweren-gpio {
			rockchip,pins = <0 RK_PB3 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	wireless-bluetooth {
		bt_gpios: bt-gpios {
			rockchip,pins =
				<0 RK_PC5 RK_FUNC_GPIO &pcfg_pull_none>,
				<0 RK_PC6 RK_FUNC_GPIO &pcfg_pull_none>,
				<0 RK_PC7 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

lcd_pwm: &pwm1 {
	status = "disabled";
};

&pwm7 {
	status = "okay";
	compatible = "rockchip,remotectl-pwm";
	pinctrl-names = "default";
	pinctrl-0 = <&pwm7m0_pins>;
	assigned-clocks = <&cru CLK_PMU1_PWM0>;
	assigned-clock-rates = <24000000>;
	remote_pwm_id = <3>;
	handle_cpu_id = <1>;
	remote_support_psci = <1>;
};

&pwm13 {
    status = "okay";
	pinctrl-names = "default";
    pinctrl-0 = <&pwm13m0_pins>;
};

&sai0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <
        &i2s0m0_lrck
		&i2s0m0_sclk
		&i2s0m0_sdi0
		&i2s0m0_sdo0>;
};

&sdmmc0 {
    status = "okay";
	no-sdio;
	no-mmc;
	bus-width = <4>;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	disable-wp;
	sd-uhs-sdr104;
	vmmc-supply = <&vcc3v3_sd>;
	vqmmc-supply = <&vccio_sd>;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc0_bus4 &sdmmc0_clk &sdmmc0_cmd &sdmmc0_det>;
};

&sdmmc1 {
    status = "okay";
	no-sd;
	no-mmc;
	bus-width = <4>;
	disable-wp;
	cap-sd-highspeed;
	cap-sdio-irq;
	keep-power-in-suspend;
	mmc-pwrseq = <&sdio_pwrseq>;
	non-removable;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc1_bus4 &sdmmc1_cmd &sdmmc1_clk>;
	sd-uhs-sdr104;
};

&spdif_8ch {
	pinctrl-0 = <&spdifm1_pins>;
	status = "okay";
};

&u2phy {
	status = "okay";
};

&u2phy_host {
	status = "okay";
	phy-supply = <&vcc5v0_usb_host>;
};

&u2phy_otg {
	status = "okay";
	vbus-supply = <&vcc5v0_usb_otg>;
};

&uart1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart1m1_xfer &uart1m0_ctsn &uart1m0_rtsn>;
    uart-has-rtscts;

	bluetooth {
		compatible = "bluetooth-platdata";
		clocks = <&rk809 1>;
		clock-names = "ext_clock";
		pinctrl-names = "default";
		pinctrl-0 = <&bt_gpios>;
		shutdown-gpios = <&gpio0 RK_PC5 GPIO_ACTIVE_HIGH>;
		device-wakeup-gpios = <&gpio0 RK_PC7 GPIO_ACTIVE_HIGH>;
        interrupt-parent = <&gpio0>;
		interrupts = <RK_PC6 IRQ_TYPE_EDGE_FALLING>;
	};
};

&uart2 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&uart2m1_xfer>;
};

&uart3 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&uart3m1_xfer>;
};

&uart8 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&uart8m0_xfer>;
};

&uart9 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&uart9m1_xfer>;
};

&usb_host0_ehci {
	status = "okay";
};

&usb_host0_ohci {
	status = "okay";
};

&usbdrd30 {
	status = "okay";
};

&usbdrd_dwc3 {
	status = "okay";
	dr_mode = "otg";
	extcon = <&u2phy>;
	maximum-speed = "high-speed";
	phys = <&u2phy_otg>;
	phy-names = "usb2-phy";
	snps,dis_u2_susphy_quirk;
	snps,usb2-lpm-disable;
};

&vcc3v3_sys {
    vin-supply = <&dc_12v>;
};

&vcc5v0_sys {
    vin-supply = <&dc_12v>;
};

&video_phy {
	status = "okay";
};
